In [44]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv('covid-19-state-level-data.csv')

In [46]:
df.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [47]:
arr=np.array(df.state.unique())

In [48]:
lis=[]
for i in range(0,arr.size):
    df_1=by_state.get_group(arr[i])
    lis.append(df_1)

In [49]:
#Calculate Pearson correlation coefficient between state level cases vs deaths over time.

import scipy 
from scipy import stats

df_s=[]
for i in range(0,arr.size):
    df_s.append(
        {
          'State': arr[i],
          'PCC deaths vs cases': scipy.stats.pearsonr(lis[i]['deaths'],lis[i]['cases'])[0]
                         
            
        }
        
    )

In [50]:
pd.DataFrame.from_dict(df_s)

    PCC deaths vs cases                     State
0              0.995108                Washington
1              0.981876                  Illinois
2              0.998376                California
3              0.988223                   Arizona
4              0.979767             Massachusetts
5              0.968116                 Wisconsin
6              0.991509                     Texas
7              0.962509                  Nebraska
8              0.970453                      Utah
9              0.992332                    Oregon
10             0.989030                   Florida
11             0.955757                  New York
12             0.960607              Rhode Island
13             0.998997                   Georgia
14             0.972960             New Hampshire
15             0.931129            North Carolina
16             0.966920                New Jersey
17             0.987814                  Colorado
18             0.976503                  Maryland
19             0.982348                    Nevada
20             0.933325                 Tennessee
21             0.822445                    Hawaii
22             0.990757                   Indiana
23             0.958903                  Kentucky
24             0.938202                 Minnesota
25             0.995625                  Oklahoma
26             0.996306              Pennsylvania
27             0.998090            South Carolina
28             0.979648      District of Columbia
29             0.981660                    Kansas
30             0.968222                  Missouri
31             0.986603                   Vermont
32             0.997860                  Virginia
33             0.977328               Connecticut
34             0.984138                      Iowa
35             0.988413                 Louisiana
36             0.988824                      Ohio
37             0.989823                  Michigan
38             0.849892              South Dakota
39             0.959020                  Arkansas
40             0.964722                  Delaware
41             0.981934               Mississippi
42             0.966796                New Mexico
43             0.932797              North Dakota
44                  NaN                   Wyoming
45             0.935367                    Alaska
46             0.930537                     Maine
47             0.915277                   Alabama
48             0.940857                     Idaho
49             0.928979                   Montana
50             0.996237               Puerto Rico
51                  NaN            Virgin Islands
52             0.959410                      Guam
53             0.920961             West Virginia
54             0.976092  Northern Mariana Islands